<!DOCTYPE html>
<!--
 Meditation Logger.
 Copyright (C) 2015-2017  Seth Hendrick.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses />.
-->

<!-- Unit Test: start.cshtml -->

<html>
<head>
    <title>Meditation Enthusiasts Logger</title>
    @Html.Raw( Model.CommonHead )
    <link type="text/css" rel="stylesheet" href="css/pure/two-col.css" />
</head>
<body>
    <div id="layout" class="content pure-g">
        <!-- Start Pure layout -->
        @Html.Raw( Model.NavBar )
        <div id="main" class="pure-u-1">
            <h1>Meditate!</h1>
            <p>
                Click the button below to start your meditation session.  You will be redirected to a new page during your session.
                When you are done, click the "Finish" button.  You will then be asked for your comments about the session and whether or not
                you want to save your location.  Hit the "Save" button, and your session will be saved.
            </p>
            <p>
                If your browser somehow crashes or you accidently refresh or leave the page, don't worry, the timer will pick up where it left off.
            </p>
            <form action="" method="post">
                <input class="primary-button pure-button" name="startButton" type="submit" value="Start Meditating" />
            </form>
        </div>
    </div>
</body>
</html>