/MedEnthLogs/MedEnthLogsWin10/bin
/MedEnthLogs/MedEnthLogsWin10/obj
/MedEnthLogs/MedEnthLogsWin10/*.pfx
/MedEnthLogs/MedEnthLogsWin10/*.appxmanifest
/MedEnthLogs/.vs
/MedEnthLogs/MedEnthDesktop/bin
/MedEnthLogs/MedEnthDesktop/obj
/MedEnthLogs/Test/obj
/MedEnthLogs/Test/bin
/MedEnthLogs/packages/NUnit.2.6.4/lib
