/MedEnthLogs/MedEnthLogsWin10/bin
/MedEnthLogs/MedEnthLogsWin10/obj
*.pfx
/MedEnthLogs/.vs
/MedEnthLogs/MedEnthDesktop/bin
/MedEnthLogs/MedEnthDesktop/obj
/MedEnthLogs/Test/obj
/MedEnthLogs/Test/bin
/MedEnthLogs/packages
/MedEnthLogs/MedEnthLogs.opensdf
/MedEnthLogs/MedEnthLogs.sdf
bin
Debug
Release
obj
packages
.vs