<!DOCTYPE html>
<!--
 Meditation Logger.
 Copyright (C) 2015-2016  Seth Hendrick.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Unit Test: about.cshtml -->
<html>
<head>
    <title>Meditation Enthusiasts Logger</title>
    @Html.Raw(Model.CommonHead)
    <link type="text/css" rel="stylesheet" href="css/pure/pricing.css" />
    <link type="text/css" rel="stylesheet" href="css/pure/two-col.css" />
</head>
<body>
    <div id="layout" class="content pure-g">
        @Html.Raw(Model.NavBar)
        <div id="main" class="pure-u-1">
            <h1>About:</h1>

            <div class="info-tables">
                <div class="info-table">
                    <div class="info-table-free">
                        <div class="info-table-header">
                            <h2>Version:</h2>
                            <span class="info-table-price">@Model.VersionString</span>
                        </div>
                    </div>
                </div>
            </div>

            <table cellspacing="0" cellpadding="4px" border="2px">
                <tr>
                    <td><strong>Visit Site:</strong></td>
                    <td><a href="https://meditationenthusiasts.org" target="_blank">https://meditationenthusiasts.org</a></td>
                </tr>
                <tr>
                    <td><strong>Report a Bug:</strong></td>
                    <td><a href="https://github.com/MeditationEnthusiasts/MeditationLogger/issues" target="_blank">https://github.com/MeditationEnthusiasts/MeditationLogger/issues</a></td>
                </tr>
                <tr>
                    <td><strong>View Wiki:</strong></td>
                    <td><a href="https://github.com/MeditationEnthusiasts/MeditationLogger/wiki" target="_blank">https://github.com/MeditationEnthusiasts/MeditationLogger/wiki</a></td>
                </tr>
                <tr>
                    <td><strong>View Source:</strong></td>
                    <td><a href="https://github.com/MeditationEnthusiasts/MeditationLogger" target="_blank">https://github.com/MeditationEnthusiasts/MeditationLogger</a></td>
                </tr>
            </table>

            <p><a href="/about/credits.txt" target="_blank">View Credits</a></p>
            <p><a href="/about/license.txt" target="_blank">View License</a></p>
        </div>
    </div>
</body>
</html>