<!DOCTYPE html>
<!--
 Meditation Logger.
 Copyright (C) 2015-2016  Seth Hendrick.

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Unit Test: end.cshtml -->

<html>
<head>
    <title>Meditation Enthusiasts Logger</title>
    @Html.Raw( Model.CommonHead )
    <link type="text/css" rel="stylesheet" href="css/pure/two-col.css" />
    <script type="text/javascript">
        var saveButton;

        /// <summary>
        /// Runs when the window is loaded
        /// </summary>
        window.onload = function()
        {
            if ( navigator.geolocation )
            {
                var locationText = document.getElementById( "locationText" );
                locationText.innerHTML =
                    'Location:\n' +
                    '<input id="latTextbox" name="lat" type="text" readonly="readonly" />\n' +
                    '<input id="lonTextbox" name="lon" type="text" readonly="readonly" />\n' +
                    '<input id="getLocationButton" class="primary-button pure-button" name="getLocationButton" type="button" onclick="GetLocation()" value="Get Location"/>';
            }
            else
            {
                locationText.innerHTML = 'Location: Browser does not support saving location.';
            }

            saveButton = document.getElementById( "saveButton" );
        }

        /// <summary>
        /// Fills in the location to the text boxes.
        /// </summary>
        function GetLocation()
        {
            if ( navigator.geolocation )
            {
                var locationButton = document.getElementById( "getLocationButton" );
                locationButton.value = "Getting Location...";

                // Prevent user from doing something they'll regret doing by disabling the buttons.
                locationButton.disabled = true;
                saveButton.disabled = true;

                navigator.geolocation.getCurrentPosition( FillInLocation, HandleLocationError );
            }
            else
            {
                alert( 'Browser does not support saving location.' );
            }
        }

        /// <summary>
        /// Fills in the location to the location text boxes.
        /// </summary>
        /// <param name="position">The position to fill in</param>
        function FillInLocation( position )
        {
            // Once we get the location, set the text boxes.
            document.getElementById( "latTextbox" ).value = position.coords.latitude;
            document.getElementById( "lonTextbox" ).value = position.coords.longitude;

            // Renable the save button, but not the get location button (we already got the location).
            saveButton.disabled = false;
            document.getElementById( "getLocationButton" ).value = "Got Location";
        }

        /// <summary>
        /// Handles the error for getting the location.
        /// </summary>
        /// <param name="errir">The error received</param>
        function HandleLocationError( error )
        {
            var errorMessage;
            switch( error.code )
            {
                case error.PERMISSION_DENIED:
                    errorMessage = "Access to location was denied.";
                    break;

                case error.POSITION_UNAVAILABLE:
                    errorMessage = "Position is not available.  Please try again.";
                    break;

                case error.TIMEOUT:
                    errorMesssage = "Timed out trying to get location.  Please try again.";
                    break;

                default:
                    errorMessage = "Unknown error when trying to get location, please try again.";
                    break;
            }

            alert( errorMessage );

            // Renable the save button, and the get location button in case the user wishes to try again.
            saveButton.disabled = false;

            var locationButton = document.getElementById( "getLocationButton" );
            locationButton.value = "Get Location";
            locationButton.disabled = false;
        }

    </script>
</head>
<body>
    <div id="layout" class="content pure-g">
        <!-- Start Pure layout -->
        @Html.Raw( Model.NavBar )
        <div id="main" class="pure-u-1">
            @Model.ErrorString
            <h1>Finished!</h1>
            <p><strong>Minutes Meditated: </strong>@Model.MinutesMeditated</p>
            <p>
                Fill out the below form and hit "Save" to record this session.  Type the &quot;Get Location&quot; button to save your location.
                If you do not wish to save your location, do not click this button.
            </p>
            <noscript>
                <p>No javascript detected.  You'll still be able to save your session, but not your location</p>
            </noscript>
            <form action="/meditate.html" method="post">
                <p>Technique: <input name="technique" type="text" /></p>
                <p id="locationText">
                    Location: No Javascript Detected.  Can not save location.
                </p>
                <p>Comments:</p>
                <textarea id="comments" rows="10" cols="80" name="comments"></textarea>
                <p><input class="primary-button pure-button" id="saveButton" name="saveButton" type="submit" value="Save Session" /></p>
            </form>
        </div>
    </div>
</body>
</html>
